:root {
  --night-blue: #0a0f26;
  --dark-blue: #212849;
  --hard-blue: #0440a3;
  --electric-blue: #0158e6;
  --light-blue: #c6cfff;
  --dark-red: #ad2b2b;
  --red: #eb5757;
  --green: #01d09e;
  --white: #ffffff;
}
